h1 {
    text-align: center;
    color: blueviolet;
}
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table {
    text-align: center;
    border: 2px solid blueviolet;
}
tr {
    border: 2px solid blueviolet;
}
td {
    border: 2px solid blueviolet;
}